html {
  overflow-y: auto;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: calc(3 * var(--atom));
  line-height: calc(5 * var(--atom));
}

#root {
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hide-legend legend {
  opacity: 0 !important;
}

.page-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.d-flex {
  display: flex;
}

.mh-0 {
  min-height: 0 !important;
}

.align-center {
  align: center;
  text-align: center;
}

.MuiDataGrid-row.Mui-selected {
  background-color: #e6eeff !important;
}

.d-flex {
  display: flex !important;
}

.flex-row {
  flex-direction: row !important;
}

.table-cell-value {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  padding: 0 5px;
}

.span-selected {
  padding: 10px;
}

:root {
  --atom: 5px;
}

@media (max-width: 1200px) {
  :root {
    --atom: 4px;
  }
}

@media (max-width: 900px) {
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: inline-block;
  }
}
@media (min-width: 900px) {
  .mobile-hide {
    display: inline-block;
  }
  .mobile-show {
    display: none;
  }
}
